{% extends 'base.html.twig' %}


{% block body %}
    <h1>Send request form</h1>

    <div>
        {{ msg }}
    </div>
    {{ form(echo_form) }}
{% endblock %}

{% block stylesheets %}
    <style>

    </style>
{% endblock %}
